h1{
    text-align: center;
    font-size: 150%;
    text-decoration: underline black;
    font-weight: bold;
}
h2{
    text-align: left;
    font-size: 120%;
    font-weight: bold;
}
h3{
    text-align: left;
    font-size: 100%;
    font-weight: bold;
}
ul{
    list-style-position: inside;
}

