html, body{
    font-family: Arial;
    font-size: 14pt;
    background-color: #4d4d4d;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color:white;
}
p{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-size: 150%;
    font-weight: normal;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-size: 110%;
    font-weight: normal;
}
h3{
    font-size: 100%;
    font-weight: normal;
    text-decoration: underline;
}
hr{
    border: solid 4px white;
    border-radius: 3px;
}
/*div.userdaten{
    position: inline;
    width: 15%;
    padding: 25px 15px 25px;
    margin: 2px;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    border-color: solid 1px black;
    border-radius: 10px;
    float: right;
}*/
/*Navigation*/
nav img{
    display: block;
    background-color: rgba(255,255,255, 0.6);
    width:100%;
}
nav{
    font-size: 100%;
    word-wrap: break-word;
    height: 99.3%;
    width: 15%;
    display: block;
    float: left;
    position: fixed;
    top: 0;
}
nav ul{
    list-style: none;
    padding: 0px;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: grey;
    float: left;
    display: block;
    margin-left: 0px;
    margin-top: 0;

}
nav li{
    padding: 0px;
    width: 100%;
    background-color: grey;
    border-bottom: 2px solid black;
    display: block;
    transition: all .5s ease-in;
}
nav a{
    text-decoration: none;
    display: block;
    font-weight:bold;
    color: white;
    padding: 15px;
    transition: all .5s ease-in;
}
nav li[aria-current] a {
	background-color: white; 
    color: black;
  }
nav li:focus,
nav li:hover,
nav a:focus,
nav a:hover {    
    background-color: white;
    color: black;
}
#logout{
    position: fixed;
    bottom: 2px;
    left: 2.5px;
    width: 15%;
    border: solid 2px black;
    background-color: rgba(255,255,255, 0.6);
    cursor: pointer;
    font-size: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*Startseite*/
div.content{
    margin-left: 16%;
    margin-right: 1%;
    text-align: center;
}
div.status{ 
    background-color: green;
    display: block;
    float: none;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 5px;
    border: solid 1px black;
}
table.index{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
    border: solid 3px black;
    color: black;
}
tr.index_head{
    border: solid 1px black;
    font-weight: bold;
    text-decoration: underline;
}
tr.index{
    border: solid 1px black;
}
td.index{
    border: solid 1px black;
    padding: 5px;
}
/*Daten bearbeiten */
div.daten{
    margin-left: 16%;
}
div.apply{
    text-align: center;
    padding: 15px;
    font-size: 80%;
}
div.erfolg{
    text-align:center;
    padding: 30px;
    font-size: 110%;
    font-weight: bold;
    color: black;
    background-color: #4CAF50;
    margin-left: 16%;
    margin-right: 1%;
    display: none;
}
table.daten{
    width: 80%;
    margin: 20px auto 15px auto;
    border-collapse: separate;
    border: solid 1px black;
    text-align: center;
}
td.daten{
    padding: 10px;
}
td.daten_head{
    border-bottom: solid 1px black;
    font-weight: bold;
    padding: 15px;
}
#daten_left{
    width: 40%;
}
#daten_right{
    width:30%;
}
#daten_middle{
    width: auto;
}
input.daten{
    width: 75%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: text;
    font-size: 90%;
    text-align: center;
    font-family: Arial;
}
input.datenbutton,
button.datenbutton{
    border: solid 2px black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
}
#submit{
    background-color: #4CAF50;
}
#submit:hover{
    background-color: white;
    color: black;
}
#nsubmit{
    background-color: #f44336;
}
/*Benutzerverwaltung*/
div.bnv{
    margin-left: 16%;
}
div.bnv_new{
    text-align: center;
    padding: 10px;
}
div.bnv_form{
    text-align: center;
}
div.message{
        text-align:center;
        padding: 30px;
        font-size: 110%;
        font-weight: bold;
        color: black;
        background-color: #148520;
        margin-left: 16%;
        margin-right: 1%;
        display: none;
}
table.tbl_user{
    width: 90%;
    margin: 20px auto 25px;
    border: solid 1px white;
    border-collapse: collapse;
}
tr.tr_user_head{
    font-weight: bold;
    text-align: center;
}
tr.tr_user{
    text-align: center;
}
td.td_user{
    padding: 5px;
    border: solid 1px white;
}
img.img_edit{
    height:auto;
    width:30px;
}
table.bnv{
    width: 50%;
    margin: 20px auto 20px;    
}
input[type=submit].bnv,
button.bnv{
    text-align: center;
    width: 200px;
    margin: 15px auto 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 100%;
    padding: 8px;
    background-color: #4CAF50;
}
input[type=submit].bnv:hover,
button.bnv:hover{
    background-color: white;
    color: black;
}
input[type=text].bnv,
input[type=email].bnv,
input[type="password"].bnv{
    font-family: Arial;
    font-size: 90%;
    padding: 3px;
    width: 100%;
}
input[type=number].bnv{
    font-family: Arial;
    font-size: 90%;
    padding: 3px;
    text-align: center;
}
/*verwalten*/
table.avw{
    background-color: white;
    color: black;
    border-collapse: collapse;
    border: solid 3px black;
}
td.avw_head{
    border: solid 1px black;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px 3px;
}
tr.avw { 
    cursor: pointer; 
    border: solid 1px black;
}
tr.avw:nth-child(even) {
    background: #CCC
}
tr.avw:nth-child(odd) {
    background: #FFF
}
td.avw:first-of-type,
td.avw_id:first-of-type{
 position: sticky;
 left: 15%;
 background-color: white;
 border: solid 3px  black;
}
td.avw{
    vertical-align: center;
    border: solid 1px black;
    white-space: nowrap;
    padding: 5px 3px;
}
td.text{
    white-space: normal;
}
button.avw{
    width: 30%;
    padding: 10px;
    font-size: 80%;
    border-radius: 3px;
    border: solid 1px black;
    cursor: pointer;
    color: black;
}
button.edit{
    background-color: #4CAF50;
}
button.edit:hover{
    background-color: #367c39;
    color: white;
}
button.delete{
    background-color: #f44336;
}
button.delete:hover{
    background-color: #c2160a;
    color: white;
}
button.back{
    margin-top: 50px;
    background-color: #ffad33;
}
button.back:hover{
    background-color: #e68a00;
    color: white;
}
table.avwe{
    margin: auto;
    width: 50%;
}
/*neu*/

table.neu{
    margin: 10px auto 15px;
    border: solid 1px black;
}
td.neu{
    padding: 2px;
}
input[type=submit].neu{
        width: 30%;
        padding: 10px;
        font-size: 80%;
        border-radius: 3px;
        background-color: #4CAF50;
        border: solid 1px black;
        cursor: pointer;
        color: black;
}
input[type=submit].neu:hover{
    background-color: #367c39;
    color: white;
}

/* Stats */
div.auswahl{
    width: 100%;
}

button.stats{
    width: 49%;
    margin: 0;
    height: 50px;
    font-size: 90%;
    border: solid 2px black;
}
button.active{
    background-color: #367c39;
}
button.unactive{
    background-color: lightgrey;
    cursor: pointer;
}
button.unactive:hover{
    background-color: #367c39;
}
p.picker{
    padding: 10px;
    text-align: left;
}
select.picker{
    width: 30%;
    height: 30px;
    font-size: 80%;
    text-align: right;
}
